<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="'layout/LayoutPadrao'">
		
<head>
	<title>Cadastro de Cliente</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Clientes
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="post" th:object="${clientes}" class="form-vertical  js-form-loading">
		
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="tipoPessoa">Tipo pessoa</label>
					<div>
						<div class="radio radio-inline">
							<input type="radio" name="tipoPessoa">
							<label>Física</label>
						</div>
						<div class="radio radio-inline">
							<input type="radio" name="tipoPessoa">
							<label>Jurídica</label>
						</div>
					</div>					
				</div>
				<div class="col-lg-8 col-sm-8  form-group">
					<label for="cpfcnpj" >CPF/CNPJ</label>
					<input type="text" id="cpfcnpj" class="form-control" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="telefone">Telefone</label>
					<input id="telefone" type="text" class="form-control"/>					
				</div>
				<div class="col-lg-8 col-sm-8 form-group">
					<label for="email" >Email</label>
					<input type="text" id="email" class="form-control" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="logradouro">Logradouro</label>
					<input id="logradouro" type="text" class="form-control"/>					
				</div>
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="numero" >Numero</label>
					<input type="text" id="numero" class="form-control" />
				</div>				
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="complemento" >Complemento</label>
					<input type="text" id="complemento" class="form-control" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="cep">CEP</label>
					<input id="cep" type="text" class="form-control"/>					
				</div>
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="estado">Estado</label>
					<select id="estado" class="form-control">
						<option value="">Selecione o estado</option>
					</select>
				</div>				
				<div class="col-lg-4 col-sm-4  form-group">
					<label for="cidade">Cidade</label>
					<select id="cidade" class="form-control">
						<option value="">Selecione a cidade</option>
					</select>
				</div>	
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
<!-- 						<a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a> -->
<!-- 						<a href="#" class="btn  btn-link  aw-btn-link-danger" onclick="excluir()">Excluir este produto</a> -->
			</div>			
		</form>	
	</div>
	
</section>
</body>
</html>